@{
    ViewData["Title"] = "User Management";
}

<h2>Create New User</h2>

<form asp-action="CreateUser" method="post">
    <label>Login</label>
    <input type="text" name="login" placeholder="Provide login of new user" required /> <br><br>
    <label>Password:</label>
    <input type="text" name="password" placeholder="Provide password of new user" required /> <br><br>
    <button type="submit">Create</button>
    <br><br>
    <h2>Existing Users</h2>

    <div style="max-height: 200px; overflow-y: auto; padding: 10px;">
        @foreach (var user in (List<string>)ViewBag.Users)
        {
            <div>
                <strong>Login:</strong> @user<br />
            </div>
            <hr />
        }
    </div>
</form>